/* VARIABLES */
:root {
    --dark-color: #222;
    --light-color: #f5f0e1;
}

/* GENERAL - No tocar */
body {
    background-color: var(--dark-color);
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#poster{
    aspect-ratio: 3 / 5;
    max-height: 50vmax;
    height: 100%;
    background-color: var(--dark-color);
    position: relative;
    overflow: hidden;
    font-family: 'Anton', sans-serif;
    border: .5rem solid var(--light-color);
}

footer {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--light-color);
    
    a {
        color: var(--light-color);
        text-decoration: none;
        font-family: system-ui, sans-serif;
    }
    
}

#poster canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* COMPONENTS */
.title svg {
    width: 100%;
    height: 100%;
    fill: var(--light-color);
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    #poster {
        border: 1rem solid var(--light-color);
    }
}